

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


@media screen and (min-width: 769px) {
    * {
  margin: 5px;
  padding: 0;
  
}
html   {
    margin: 2rem 10rem;
    background-color: #0D1117;
    font-family: "Lexend", sans-serif ;
    color: #9e9e9e;
}
.madeby {
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif !important;
    font-weight: 400;
    text-align: center;
    position: relative;
    bottom: 30px;
    left: 155px;
}

.easylevel  {
    padding: 3rem;
    background-color: #262C36;
    border-radius: 15px;
    border: 4px solid rgba(42, 83, 42, 0.322);
    -webkit-box-shadow: 0px 0px 22px -7px rgba(25,107,27,1);
-moz-box-shadow: 0px 0px 22px -7px rgba(25,107,27,1);
box-shadow: 0px 0px 22px -7px rgba(25,107,27,1);
}

.nivel1 {
    color: rgb(71, 105, 76);
    text-decoration: none;
}

h1  {
    margin: 2rem;
    text-align: center;
    font-size: 24px;
    /* color: #cfcfcf; */
    font-weight: 350;
}

h2  {
    /* text-decoration:underline; */
    /* margin: rem; */
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 1rem;
}
h3  {
    font-weight: 400;
}

h4  {
    font-weight: 400;
}
h5  {
    font-weight: 400;
}

strong  {
    font-weight: 450;
    font-size: 15px;
}

p   {
    font-size: 14px;
    font-weight: 350;
}

li  {
    font-size: 14px;
    font-weight: 400;
}

.partes {
    margin: 2rem 0rem;
}

.ejemplo    {
    text-decoration: none;
    color: #b1b1b1;
    padding: 1rem;
    /* border: 2px solid #525252; */
    background-color: #31363d;
    border-radius: 5px;
    width: 70%;
    margin: 1rem;
    font-family:"Roboto Mono", monospace !important;
    -webkit-box-shadow: 0px 0px 17px -7px rgba(22, 19, 19, 0.5);
-moz-box-shadow: 0px 0px 17px -7px rgba(87,87,87,0.5);
box-shadow: 0px 0px 17px -7px rgba(87,87,87,0.5);
}

.ulTitle    {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0rem 9rem;
    
}

.ulTitle li     {
    font-size: 1rem;
    font-weight: 600;
    
}
.medlevel   {
    padding: 3rem;
    background-color: #262C36;
    border-radius: 15px;
    border: 4px solid rgba(79, 83, 42, 0.322);
    -webkit-box-shadow: 0px 0px 22px -7px rgb(106, 107, 25);
-moz-box-shadow: 0px 0px 22px -7px rgb(107, 102, 25);
box-shadow: 0px 0px 22px -7px rgb(102, 107, 25);
    }
    .accmed {
        color: #9e9e9e;
        text-decoration: none; 
    }
    }
    .nivel2 {
        color: rgb(104, 105, 71);
        text-decoration: none;
    }
    .accesos    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0rem 0rem 2rem 0rem;
    }
    .accbasc    {
        text-decoration: none;
        color: #9e9e9e;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0.3rem 3rem;
        background-color: #262C36;
        border-radius: 10px;
        border: 2px solid rgba(49, 83, 42, 0.322);
        -webkit-box-shadow: 0px 0px 22px -7px rgb(41, 107, 25);
    -moz-box-shadow: 0px 0px 22px -7px rgb(35, 107, 25);
    box-shadow: 0px 0px 22px -7px rgb(41, 107, 25);
    }
    .accbasc:hover {
        -webkit-box-shadow: 0px 0px 22px -7px rgb(56, 175, 45);
    -moz-box-shadow: 0px 0px 22px -7px rgb(52, 161, 42);
    box-shadow: 0px 0px 22px -7px rgb(54, 150, 35);
    }
   
    
    .accmedi    {
        text-decoration: none;
        color: #9e9e9e;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0.3rem 3rem;
        background-color: #262C36;
        border-radius: 10px;
        border: 2px solid rgba(83, 79, 42, 0.322);
        -webkit-box-shadow: 0px 0px 22px -7px rgb(107, 106, 25);
    -moz-box-shadow: 0px 0px 22px -7px rgb(107, 92, 25);
    box-shadow: 0px 0px 22px -7px rgb(99, 107, 25);
    }
    .accmedi:hover {
        -webkit-box-shadow: 0px 0px 22px -7px rgb(175, 173, 45);
    -moz-box-shadow: 0px 0px 22px -7px rgb(161, 140, 42);
    box-shadow: 0px 0px 22px -7px rgb(138, 150, 35);
    }
    
    .accavan    {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #9e9e9e;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0.3rem 3rem;
        background-color: #262C36;
        border-radius: 10px;
        border: 2px solid rgba(83, 45, 42, 0.322);
        -webkit-box-shadow: 0px 0px 22px -7px rgb(107, 25, 25);
    -moz-box-shadow: 0px 0px 22px -7px rgb(107, 25, 25);
    box-shadow: 0px 0px 22px -7px rgb(107, 25, 25);
    }
    .accavan:hover {
        -webkit-box-shadow: 0px 0px 22px -7px rgb(175, 45, 45);
    -moz-box-shadow: 0px 0px 22px -7px rgb(161, 42, 42);
    box-shadow: 0px 0px 22px -7px rgb(150, 35, 35);
    
    }
    
    .avalevel   {
        padding: 3rem;
        background-color: #262C36;
        border-radius: 15px;
        border: 4px solid rgba(83, 42, 42, 0.322);
        -webkit-box-shadow: 0px 0px 22px -7px rgb(107, 25, 25);
        -moz-box-shadow: 0px 0px 22px -7px rgb(107, 25, 25);
        box-shadow: 0px 0px 22px -7px rgb(107, 25, 25);
    }

    .nivel3 {
        color: rgb(105, 71, 71);
        text-decoration: none;
    }

    .nextlevmed {
        padding: 0rem 3rem;
        background-color: #262C36;
        border-radius: 15px;
        border: 4px solid rgba(79, 83, 42, 0.322);
        -webkit-box-shadow: 0px 0px 22px -7px rgb(106, 107, 25);
        -moz-box-shadow: 0px 0px 22px -7px rgb(107, 102, 25);
        box-shadow: 0px 0px 22px -7px rgb(102, 107, 25);
        margin: 2rem 0rem 5rem 0rem;
    }
    .foottexteasy   {
        text-decoration: none;
        color: #9e9e9e;
    }



@media screen and (max-width: 768px) {

/* @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */
    * {
  margin: 2px;
  padding: 0;
  
}
html   {
    background-color: #0D1117;
    font-family: "Lexend", sans-serif ;
    color: #9e9e9e;
    font-size: 0.8rem;
}

.madeby {
    font-size: 8px;
    font-family:"Pacifico", cursive !important;
    font-weight: 100;
    text-align: center;
    position: relative;
    bottom: 10px;
}

.easylevel  {
    padding: 1rem;
    background-color: #262C36;
    border-radius: 15px;
    border: 4px solid rgba(42, 83, 42, 0.322);
    -webkit-box-shadow: 0px 0px 22px -7px rgba(25,107,27,1);
-moz-box-shadow: 0px 0px 22px -7px rgba(25,107,27,1);
box-shadow: 0px 0px 22px -7px rgba(25,107,27,1);
}



.nivel1 {
    color: rgb(71, 105, 76);
    text-decoration: none;
    font-weight: 500;
    border: none;
}

h1  {
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
    /* color: #636363; */
    font-weight: 300;
}

h2  {

    font-size: 1.6rem;
    font-weight: 400;
}

h3  {
    font-weight: 400;
}

h4  {
    font-weight: 400;
}
h5  {
    font-weight: 400;
}


p   {
    font-size: 12px;
    font-weight: 350;
}
li  {
    font-size: 12px;
    font-weight: 400;
}
strong  {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}



.ejemplo    {
    text-decoration: none;
    color: #b1b1b1;
    padding: 5px;
    /* border: 1px solid #5a5a5a; */
    background-color: #31363d;
    border-radius: 5px;
    font-family:"Roboto Mono", monospace !important;
    -webkit-box-shadow: 0px 0px 17px -7px rgba(22, 19, 19, 0.5);
-moz-box-shadow: 0px 0px 17px -7px rgba(87,87,87,0.5);
box-shadow: 0px 0px 17px -7px rgba(87,87,87,0.5);
}

.ulTitle    {
    display: flex;
    justify-content: space-around;
    color: #9e9e9e;
    list-style-type: disc;
    font-weight: 200;
    list-style-type: none;
    
}

.ulTitle li     {
    /* font-size: 1rem; */
    font-weight: 600;
    text-align: center;
    
    
}
.medlevel   {
    padding: 1rem;
    background-color: #262C36;
    border-radius: 15px;
        border: 4px solid rgba(83, 79, 42, 0.322);
        -webkit-box-shadow: 0px 0px 22px -7px rgb(107, 106, 25);
    -moz-box-shadow: 0px 0px 22px -7px rgb(107, 92, 25);
    box-shadow: 0px 0px 22px -7px rgb(99, 107, 25);
    }
    .nivel2 {
        color: rgb(104, 105, 71);
        text-decoration: none;
    }
        .accbasc    {
        font-size: 8px;
        text-decoration: none;
        color: #9e9e9e;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0rem 0.6rem;
        background-color: #262C36;
        border-radius: 5px;
        border: 1px solid rgba(49, 83, 42, 0.322);
        -webkit-box-shadow: 0px 0px 22px -7px rgb(41, 107, 25);
    -moz-box-shadow: 0px 0px 22px -7px rgb(35, 107, 25);
    box-shadow: 0px 0px 22px -7px rgb(41, 107, 25);
    }
    .accbasc:hover {
        -webkit-box-shadow: 0px 0px 22px -7px rgb(56, 175, 45);
    -moz-box-shadow: 0px 0px 22px -7px rgb(52, 161, 42);
    box-shadow: 0px 0px 22px -7px rgb(54, 150, 35);
    }
   
    
    .accmedi    {
        font-size: 8px;
        text-decoration: none;
        color: #9e9e9e;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0rem 0.6rem;
        background-color: #262C36;
        border-radius: 5px;
        border: 2px solid rgba(83, 79, 42, 0.322);
        -webkit-box-shadow: 0px 0px 22px -7px rgb(107, 106, 25);
    -moz-box-shadow: 0px 0px 22px -7px rgb(107, 92, 25);
    box-shadow: 0px 0px 22px -7px rgb(99, 107, 25);
    }
    .accmedi:hover {
        -webkit-box-shadow: 0px 0px 22px -7px rgb(175, 173, 45);
    -moz-box-shadow: 0px 0px 22px -7px rgb(161, 140, 42);
    box-shadow: 0px 0px 22px -7px rgb(138, 150, 35);
    }
    .accavan    {
        font-size: 8px;
        padding: 0rem 0.6rem;
        border-radius: 5px;
    }
}